.header {
  backdrop-filter: blur(20px) invert(0%);
  --tw-bg-opacity: 0.7;
}

.content :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  color: #121212;
}

.content:is(.dark *) :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  color: #fafafa;
}
